.link-add{
    i{
        color: $big-orange;
    }
    &:hover{
        color:$big-orange;
        text-decoration: none;
    }
}
.sezione-piatti{
    width: 80%;
    margin:0 auto;
}
.plate{
    padding: 10px;
    border-radius: 7% 7% 0% 0%;
    background-color: $gray;
    text-align: center;
    img{
        border-radius: 7% 7% 0% 0%;
        height: 50%;
    }
}

