//pagina login con classi pari a quelle registrazioni
// autenticazione
.auth-color{
    background-color:  #50525a;
    .auth-card{
        margin-top: 5%;
        margin-bottom: 2%;
        font-family: $primary-font;
        background-color: $gray;
        overflow-y: scroll;
        a{
            color: $big-orange;
        }
        //form tipologie della registrazione da sistemare quando sono
        .types-form{
            width: 50%;
            margin: 0 auto;

        }
     }

}
