main .soloColore {
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.sectionPlate {
    // background-color: palette(1);
    padding: 60px 0 60px;
    .plateBox {
        width: 375px;
        .titlePlateBox {
            width: 100%;
            border-radius: 25px;
            background-color: palette(5);
            background-color: rgba(223, 82, 0, 0.55);
            backdrop-filter: blur(5px);
            padding: 3px 2px 1px;
        }
        img {
            width: 100%;
            border-radius: 25px;
            border: 4px solid rgba(223, 82, 0, 0.55);
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .plateTextDetail {
            width: 100%;
            height: 300px;
            background-color: palette(2);
            background-color: rgba(19, 4, 4, 0.65);
            backdrop-filter: blur(15px);
            border-radius: 25px;
            padding: 25px 15px 25px;
            span {
                color: palette(4);
            }
        }
    }
    .orderPlate { 
        padding-left: 0;
    }
    .orderStyleMaxi {
        width: 60%;
    }
    .orderStyleMini {
        width: 10%;
    }
    .orderStyle {
        color: $orange;
        background-color: rgba(37, 32, 32, 0.65);
        backdrop-filter: blur(15px);
        border: none;
    }
}

