@media screen and (max-width: 500px) {
    main .dark-container .restaurant-list-box{
        ul{
            overflow-y: auto;
            padding-left: 20px;
        }
        top:5%;
        width: 400px;
    }
}
