// font TITOLI 
$primary-font: 'Jura', sans-serif;

// font PARAGRAFI

// misure font
$font-size: 16px, 21px, 26px, 31px, 36px, 41px, 46px, 51px;

@function font-size($size) {
    @return nth($font-size, $size)
};


.txt-primary-color {
    color: $primary-color;
}